<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>{{ title }}</title>

    <!-- Link -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/logo.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/logo.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/logo.png') }}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/logo.png') }}" />
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='images/logo.png') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}" />
</head>

<body>
    <header id="hero" class="animate">
        <!-- Navbar -->
        <nav class="navbar animate">
            <div class="container">
                <!-- Logo -->
                <h1 id="logo">
                    <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" /></a>
                </h1>

                <!-- Navbar links -->
                <ul class="nav-menu">
                    <li><a class="nav-link" href="{{ url_for('projects_page') }}">PROJECTS</a></li>
                    <li><a class="nav-link" href="{{ url_for('contact_page') }}">CONTACT</a></li>
                    <!-- <li><a class="nav-link" href="#">BLOG</a></li> -->
                    <li>
                        <a class="btn btn-primary" href="#PLACE_YOUR_GITHUB_OR_RESUME_LINK">
                            RESUME <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>

                    <!-- Toggle switch -->
                    <div class="theme-switch">
                        <input type="checkbox" id="switch" />
                        <label class="toggle-icons" for="switch">
                            <img class="moon" src="{{ url_for('static', filename='assets/moon.svg') }}"
                                 style="box-shadow: none;" />
                            <img class="sun" src="{{ url_for('static', filename='assets/sun.svg') }}"
                                 style="box-shadow: none;" />
                        </label>
                    </div>

                    <!-- Hamburger menu -->
                    <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </ul>

            </div>
        </nav>
        {% block headersection %}
        {% endblock %}
    </header>

    {% block body %}
    {% endblock %}

    <footer id="footer" class="animate">
        <div class="container">
            <a href="mailto:#PLACE_YOUR_EMAIL_HERE">#PLACE_YOUR_EMAIL_HERE</a>
            <!-- Social links -->
            <div class="social">
                <a href="#PLACE_YOUR_LINKEDIN_PROFILE">
                    <img src="{{ url_for('static', filename='assets/linkedin-icon.svg') }}" alt="Linkedin"
                         style="border-radius: 0px;">
                </a>
                <a href="#PLACE_YOUR_GITHUB_PROFILE">
                    <img src="{{ url_for('static', filename='assets/github-icon.svg') }}" alt="GitHub"
                         style="border-radius: 0px;">
                </a>
            </div>
            <!-- Attribution -->
            <p>Copyright &copy; Your Company 2024, All rights reserved</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</body>

</html>
