{% extends 'base.html' %}

{% block headersection %}
<section class="header-container animate">
    <img src="{{ url_for('static', filename='images/avatar.png') }}" alt="Image" class="profile-image">
    <h1>PLACE_YOUR_NAME</h1>
    <div class="content-text">
        <h2>PLACE_YOUR_PROFESSION_OR_TITLE</h2>
        <p>
            PLACE_YOUR_DESCRIPTION_OF_SKILLS_AND_SERVICES.
        </p>
    </div>
    <a href="#footer" class="btn btn-secondary">Learn More</a>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
    <div class="division"></div>
    <div class="content-text">
        <h2>Special Skills</h2>
        <div class="container">
            <table style="text-align: center;">
                <tr>
                    <td style="padding: 20px;">
                        <div class="textcard animate-skill" style="padding: 20px;">
                            <h2><i class="fab fa-android"></i></h2>
                            <h4>Mobile Development</h4>
                            <p>PLACE_YOUR_DETAILS_ABOUT_MOBILE_DEVELOPMENT.</p>
                        </div>
                    </td>
                    <td style="padding: 20px;">
                        <div class="textcard animate-skill" style="padding: 20px;">
                            <h2><i class="fab fa-html5"></i></h2>
                            <h4>Web Development</h4>
                            <p>PLACE_YOUR_DETAILS_ABOUT_WEB_DEVELOPMENT.</p>
                        </div>
                    </td>
                    <td style="padding: 20px;">
                        <div class="textcard animate-skill" style="padding: 20px;">
                            <h2><i class="fab fa-terminal"></i></h2>
                            <h4>Scripting and Automation</h4>
                            <p>PLACE_YOUR_DETAILS_ABOUT_SCRIPTING_AND_AUTOMATION.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        <div class="textcard animate-skill" style="padding: 20px;">
                            <h2><i class="fab fa-laptop"></i></h2>
                            <h4>Device and Endpoint Management</h4>
                            <p>PLACE_YOUR_DETAILS_ABOUT_DEVICE_MANAGEMENT.</p>
                        </div>
                    </td>
                    <td style="padding: 20px;">
                        <div class="textcard animate-skill" style="padding: 20px;">
                            <h2><i class="fab fa-server"></i></h2>
                            <h4>Server and OS Management</h4>
                            <p>PLACE_YOUR_DETAILS_ABOUT_SERVER_MANAGEMENT.</p>
                        </div>
                    </td>
                    <td style="padding: 20px;">
                        <div class="textcard animate-skill" style="padding: 20px;">
                            <h2><i class="fab fa-envelope"></i></h2>
                            <h4>Email and Collaboration Tools</h4>
                            <p>PLACE_YOUR_DETAILS_ABOUT_EMAIL_AND_COLLABORATION_TOOLS.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        <div class="textcard animate-skill" style="padding: 20px;">
                            <h2><i class="fab fa-google"></i></h2>
                            <h4>Google Cloud Platform (GCP)</h4>
                            <p>PLACE_YOUR_DETAILS_ABOUT_GCP.</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<!-- Projects Section -->
<section id="projects" class="project-container container animate">
    <div class="division"></div>
    <div class="content-text">
        <h2>My Recent Project</h2>
        <p>PLACE_A_BRIEF_DESCRIPTION_OF_YOUR_PROJECTS.</p>
    </div>
    <div class="container">
        <div class="textcard">
            <table>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='images/project-image.png') }}" alt="Project Image" style="width: auto; max-width: 100%;">
                    </td>
                    <td>
                        <div class="container">
                            <h3>PLACE_YOUR_PROJECT_NAME</h3>
                            <p style="text-align: justify;">
                                PLACE_YOUR_PROJECT_DESCRIPTION_AND_FEATURES_HERE.
                            </p>
                            <a href="#PLACE_YOUR_PROJECT_LINK" class="btn btn-secondary">View Project <i class="fab fa-github"></i></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <a href="{{ url_for('projects_page') }}" class="btn btn-secondary">See More <i class="fas fa-arrow-right"></i></a>
</section>
{% endblock %}

<style>
    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .textcard p {
        font-size: 14px;
        margin-top: 10px;
    }

    .textcard ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .animate {
        opacity: 0;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

        .animate.show {
            opacity: 1;
            transform: translateY(0);
        }

        .animate.scroll {
            transform: translateY(20px);
        }

    .animate-skill {
        transform: scale(0) rotate(0deg);
        opacity: 0;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }

        .animate-skill.show {
            transform: scale(1) rotate(0deg);
            opacity: 1;
        }

        .animate-skill.scroll {
            transform: scale(1) rotate(360deg);
        }
</style>
